/* ---------------------------------- Login ---------------------------------- */

:root {
	--blanco: #fff;
	--azul: #0071bd;
	--verde: teal;
}

body {
	user-select: none;
}

@-webkit-keyframes entrada {
	from {
		top: 0px;
	}
	to {
		top: 200px;
	}
}

@keyframes entrada {
	from {
		top: 300px;
	}
	to {
		top: 0px;
	}
}

div.row {
	-webkit-animation-name: entrada;
	animation-name: entrada;
	position: relative;
	animation-duration: 1.0s;
}

@media only screen and (min-width: 360px) {
	#login .fondo {
		background-color: var(--blanco);
		width: 300px;
		border-radius: 15px;
		padding: 20px 10px;
		/*margin-bottom: 80px;*/
	}
	#login .row button, #login .row a {
		padding: 0 5% 0 5%;
		margin-top: 15px;
		width: 250px;
		border-radius: 5px;
		text-align: center;
	}
	#login h3 {
		font-size: 20px;
		margin: 15px 0;
	}
}

@media only screen and (min-width: 600px) {
	#login .fondo {
		background-color: var(--blanco);
		width: 480px;
		border-radius: 15px;
		padding: 30px;
	}
	#login .row button, #login .row a {
		padding: 0 5% 0 5%;
		width: 200px;
		border-radius: 5px;
		text-align: center;
	}
	#login h3 {
		font-size: 2.92rem;
	}
}

#login .container {
	margin: 50px 0%;
	width: 100%;
	max-width: 100%;
}

@media only screen and (min-width: 1364px) {
	#login .container {
		margin: 150px 0%;
		width: 100%;
		max-width: 100%;
	}
	#login h4 {
		margin-top: 0px;
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 1200px) {
	#login .container {
		margin: 100px 0%;
	}
	#login h4 {
		margin-top: 0px;
		margin-bottom: 30px;
	}
	#login .fondo {
		background-color: var(--blanco);
		width: 600px;
		height: 350px;
		border-radius: 15px;
		padding: 30px;
	}
	#login .row button, #login .row a {
		padding: 0 5% 0 5%;
		width: 200px;
		border-radius: 5px;
		text-align: center;
	}
}

#message {
	background-color: red;
	color: var(--blanco);
	border-radius: 10px;
	text-align: center;
	margin: 20px 0px 0px;
	padding: 5px;
	font-size: 20px;
}

.fondo h4 {
	/*color: var(--blanco);*/
}

#login {
	background: url(/static/media/login_ideas.png)no-repeat;
	/*background-image: -webkit-linear-gradient(1000deg, #66AAB3 50%, var(--verde) 20%);*/
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
	color: rgba(0, 0, 0, 0.47);
	margin: 0%;
	height: 100%;
	font-family: Biryani;
	font-weight: 900;
}

#login h4 {
	font-family: Biryani;
	font-weight: 900;
}

#login .row {
	margin: 0px;
}

#login label, #residente label {
	/*color: var(--blanco);*/
}

.row {
	margin-top: 20px;
}

.row button {
	font-family: Biryani !important;
	background-color: var(--verde);
}

.row button, .row a {
	padding: 0 5% 0 5%;
	width: 150px;
	border-radius: 5px;
	text-align: center;
}

#login input[type="text"], #login input[type="password"] {
	/*color: var(--blanco);*/
	font-size: 20px;
	/*border-bottom-color: var(--blanco);*/
}

.input-field .prefix.active {
	color: var(--azul);
}

.btn:hover, .btn-large:hover {
	background-color: #2b2d2d;
}

input[type=text]:not(.browser-default), input[type=password]:not(.browser-default) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}

/*

Azul ---  #0071bd
Negro --- #2b2d2d
*/